@import 'colores';

$celular: 480px;
$tablet: 768px;

@keyframes entrada{
    0% {
        opacity: 0;
        transform: translate(0, 50px);
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}


*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

@for $i from 1 through 6{
    h#{$i}{
        font-family: 'Bebas Neue', sans-serif;
    }
}

header{
    position: fixed; 
    z-index: 9999999; 
    width: 100%;
    nav{
        div{
            a{
                padding: 0%!important;
                .banner-img{
                    width: 180px;
                }
            }
            div{
                ul{
                    li{
                        .resaltar:hover{
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
}

#banner{
    animation: entrada 1s;
    .banner__div{
        display: flex;
        background-color: $negro;
        overflow: hidden;
        width: 100%;
        height: 500px;
        align-items: flex-end;
        justify-content: flex-end;
        &-text{
            font-family: 'Bebas Neue', sans-serif;
            position: absolute;
            font-size: 200px;
            left: 8%;
            color: $blanco;
            z-index: 3;
        }
        & .gradiente-1{
            position: relative;
            background-color: #8cc63f;
            width: 1000px;
            height: 900px;
            filter: blur(100px);
            transform: rotateZ(60deg);
            bottom: -100px;
            left: 20%;
            display: flex;
            .gradiente-2{
                position: relative;
                background-color: #f7931e;
                width: 700px;
                height: 300;
                filter: blur(100px);
                transform: rotateZ(60deg);
                bottom: 400px;
                left: 600px;
            }
        }
        .gradiente-3{
            position: relative;
            background-color: #d62cff;
            width: 600px;
            height: 900px;
            filter: blur(100px);
            transform: rotateZ(45deg);
            bottom: -600px;
            left: -500px;
            display: flex;
            .gradiente-4{
                position: relative;
                background-color: #fcee21;
                width: 600px;
                height: 900px;
                filter: blur(100px);
                transform: rotateZ(45deg);
                bottom: 600px;
                left: 450px;
            }
        }

    }
}

#carousel{
    position: relative;
    padding-bottom: 5%;
    width: 90%;
    margin: auto;
}

#muestra{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    animation: entrada 1.5s;
    padding-bottom: 5%;
    .muestra__div{
        display: flex;
        flex-direction: row;
        .muestra__1 , .muestra__2{
            display: flex;
            flex-direction: row;
            @for $i from 1 through 4{
                .muestra__img-#{$i}{
                    width: 100%;
                    border-radius: 100%;
                    padding: 3% 10%;
                    &:hover{
                        filter: drop-shadow(5px 5px 10px $negro);
                    }
                }
            }
        }
    }   
}

footer{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: $negro;
    padding: 4% 2%;
    color: $blanco;
    .footer__div{
        width: 33%;
        p{
            font-size: 26px;
        }
        &-nav{
            text-align: center;
            font-size: 26px;
        }
        &-ul{
            list-style: none;
            padding-left: 0;
        }
        &-a{
            text-decoration: none;
            color: $gris;
            &:hover{
                color: $blanco;
            }
        }
        &-form{
            width: 33%;
            font-size: 20px;
            #email{
                width: 70%;
            }
        }
        &-div{
            padding: 7% 0;
            & a{
                padding: 1%;
            }
            & img{
                width: 43px;
                height: 43px;
                border-radius: 100%;
                background-color: $blanco;
            }
        }
    }
}

#productos{
    margin: 1% 10%;
    width: 80%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px 10px;
    text-align: center;
    animation: entrada 1s;
    padding-bottom: 5%;
    .productos__article{
        border: 2px solid $negro;
        padding-bottom: 100px;
        border-radius: 30px 30px 30px 30px;
        background-color: $blancoProducto;
        overflow: hidden;
        animation: entrada 1.5s;
        &:hover{
            box-shadow: 0px 0px 0px 5px $grisSombra;
        }
        a{
            position: relative;
            top: -40px;
            text-decoration: none;
            
        }
        p{
            display: block;
            position: relative;
            top: -40px;
            font-size: 30px;
            margin: 0;
        }
        h5{
            display: inline;
            position: relative;
            font-family: 'poppins', sans-serif;
            font-size: 28px;
            border-radius: 30px;
            top: 5%;
            padding: 0px 20px;
            background-color: $negro;
            color: $blanco;
        }
        .img-producto{
            width: 100%;
            height: 80%;
            border-radius: 30px 30px 0px 0px;
        }
    }
}

#contacto{
    animation: entrada 1.5s;
    .contacto__info{
        background-color: $negro;
        .iconos{
            width: 60px;
            height: 60px;
            border-radius: 100%;
            background-color: $blanco;
        }
    }
}

#nosotros{
    animation: entrada 1.5s;
    iframe{
        width: 100%;
        height: 500px;
    }
}

@media (max-width: $tablet){

    header{
        nav{
            div{
                a{
                    .banner-img{
                       width: 150px;
                    }
                }
            }
        }
    }
    #banner .banner__div{
        height: 340px;
        &-text{
            font-size: 145px;
            left: 1%;
        }
    }

    #muestra{
        display: flex;
        flex-direction: column;
        .muestra__div{
            .muestra__1, .muestra__2{
                flex-direction: column;
            }
        }
    }

    #productos{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding-bottom: 10%;
        .productos__article{
            overflow: hidden;
            & h5{
                font-size: 26px;
            }
            & p{
                font-size: 24px;
            }
            .img-producto{
                position: relative;
                bottom: 20px;
                width: 100%;
                height: 80%;
            }
        }
    }

    .footer__div{
        & h4{
            font-size: 26px;
        }
        & p{
            font-size: 20px;
        }
        & h5{
            font-size: 20px;
        }
        &-nav{
            font-size: 18px;
        }
        &-form{
            font-size: 18px;
        }
        &-div{
            padding: 10%;
            display: grid;
            grid-template-areas: 
            'titulo titulo'
            '2 3'
            '4 5';
            & h6{
                margin: 0;
                font-size: 18px;
            }
            .item-1{
                grid-area: titulo;
            }
            .item-2{
                grid-area: 2;
            }
            .item-2, .item-4{
                padding: 6% 15%;
                justify-self: end;
            }
            .item-3, .item-5{
                padding: 6% 15%;
                justify-self: start;
            }
        }
    }   
}
@media (max-width: $celular){

    header{
        nav{
            div{
                a{
                    .banner-img{
                       width: 100px;
                    }
                }
            }
        }
    }

    #banner .banner__div{
        height: 250px;
        &-text{
            left: 5%;
            font-size: 80px;
        }
    }

    #productos{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        gap: 20px;
        .productos__article{
            padding: 0 0 50px 0;
            border: -20px;
            overflow: hidden;
            & p{
                font-size: 20px;
            }
            & h5{
                font-size: 24px;
            }
            .img-producto{
                position: relative;
                bottom: 20px;
                width: 100%;
                height: 80%;
            }
        }
    }

    footer{
        flex-direction: column;
        text-align: center;
        .footer__div{
            width: 100%;
            padding: 3%;
            & h3{
                font-size: 27px;
            }
            & p{
                font-size: 18px;
            }
            &-form{
                font-size: 14px;
                width: 100%;
                #email{
                    width: 50%;
                    margin: 5px;
                }
            }
            &-div{
                width: 80%;
                position: relative;
                left: 10%;
                padding: 5% 0;
                display: grid;
                grid-template-areas: 
                'titulo titulo titulo titulo'
                '2 3 4 5';
                & h6{
                    margin: 0;
                    font-size: 14px;
                }
                .item-2, .item-4{
                padding: 10px 0 0 0;
                justify-self: center;
                }
                .item-3, .item-5{
                    padding: 10px 0 0 0;
                    justify-self: center;
                }
            }
        }
    }
    

    #nosotros{
        iframe{
            width: 100%;
            height: 100%;
            padding: 5%;
        }
    }

}